.quadro{
    width: 150px;
    heght: 200px;
    background-color: grey;
    padding: 1.5;
    box-shadow: black 4px 5px 5px;
    display: inline-block;
    margin: 1em;
}

#titulo{
    fonte: bold 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tarefas{
    list-style-type: none;
}